.page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  min-height: 50vh;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.card h1 {
  margin: 0px 0;
  font-weight: 700;
  text-align: center;
  color: rgb(18, 175, 94);
}

.card p {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 13px;
}

input {
  margin-top: 20px;
  height: 40px;
  width: 300px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 6px;
  padding: 0 10px;
  align-self: center;
}

button {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(18, 175, 94);
  color: white;
  border: 0px;
  height: 40px;
  width: 300px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}
