.page-register {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  min-height: 63vh;
}

.bd-div {
  display:flex;
  flex-direction: column;
}

.bd-datepicker {
  margin-top: 0;
}

.bd-label {
  color: rgb(58, 58, 58);
  font-size: 12px !important;
  width: 315px;
  text-align: start;
  align-self: center;
  margin-top: 7px;
}
