ul {
  list-style: none;
}

.navbar-header {
  border-bottom: 1px solid rgb(221, 220, 220);
}

.nav-brand {
  font-size: 30px;
  text-decoration: none;
  color: rgb(18, 175, 94);
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-light {
  color: rgba(0, 0, 0, 0.3);
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .nav-item {
  display: inline;
  margin-left: 20px;
}
